@import './styles/fonts.css';
@import './styles/tokens.css';

body {
  margin: 0;
  font-family: var(--font-family-main);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: var(--font-family-main);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Reset básico para padronizar box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}
